<h2>Edit Artist</h2>

<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Name:</p>
  <input type='text' name='artist[name]' value="<%= @artist.name %>"/><br/><br/>
  <label for="alive">Status:</label>
    <select id="alive" name="alive" >
      <option value="true">Alive</option>
      <option value="false">Dead</option>
    </select>
  <p>Monthly Listeners:</p>
  <input type='text' name='artist[monthly_listeners]' value="<%= @artist.monthly_listeners %>"/><br/><br/>
  <input type='submit' value = 'Save Changes'/>
</form>
