<h2>Edit your Bakery</h2>

<form action="/bakeries/<%= @bakery.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Enter a new name:</p>
  <input type='text' name='bakery[name]' value="<%= @bakery.name %>"/><br/>
  <label for="alive">Status:</label>
    <select id="alive" name="alive" >
      <option value="true">Open</option>
      <option value="false">Closed</option>
    </select>
  <p>Change the customer capacity:</p>
  <input type='text' name='bakery[customer_capacity]' value="<%= @bakery.customer_capacity %>"/><br/>
  <input type='submit'/>
</form>
