<style>
  .header {
    padding: 10px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }
</style>

<div class="header">
  <p>
    <a href="/artists">Artists</a> / <a href="/songs">Songs</a>
  </p>
  <p>
    <a href="/bakeries">Bakeries</a> / <a href="/bakers">Bakers</a>
  </p>
</div>

<!-- Run render './header' with ruby tags inside of any html file to render this file -->
